$yellow: #e8bf5d;
$white: #ffffff;
$black: #111111;

$light-grey: #b9b9b9;
$grey: #685656;

$basic-text-color: #685656;
$dark-text-color: #111111;
$medium-text-color: #b9b9b9;
$light-text-color: #ffffff;

//tlo
$dark-bcg: #111111;

$gradient-bcg: linear-gradient(0deg, rgba(0, 0, 0, 0.98) 0%, rgba(17, 17, 17, 0.8953956582633054) 0%, rgba(185, 185, 185, 0) 100%);